{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">floors number</th>
                <th scope="col">build number</th>
                <th scope="col">floor type</th>
                <th scope="col">floor status</th>

            </tr>
        </thead>
        
        <tbody>
        {% for user in floor %}
        <tr>
            <td> {{user.floors_number }} </td>
            <td> {{user.build_number}} </td>
            <td> {{user.floor_type}} </td>
            <td> {{user.floor_status}} </td>

                                 <td>
                    <a href="/edit_floor/{{user.floors_number }} " button type="button" class="btn btn-warning" name="btn_edit_user"
                       data-user_id="{{user.user_id}}">Edit</a>
                    <a href="/delete_floor/{{user.floors_number }} " button type="button" class="btn btn-danger" name="btn_delete_user"
                       data-floors_number="{{user.floors_number}}">Delete</a>
                </td>
        </tr>
        {% endfor %}
            <tr>
                <td> <a href="/new_floor" button type="button" class="btn btn-success" name="btn_new_user">New Floor</a> </td>
            </tr>

        </tbody>
    </table>
 </div>


{% endblock %}